# dependencies (bun install)
node_modules
junit.xml
# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

blocked_ips.json
config.yaml
*.mmdb
waf
test/**/*.test.js
test/**/*.test.js.map

test/Helpers/*.js
test/Helpers/*.js.map
bin
.run
**/*.min.html
